/*scrolls*/
/* Estiliza a largura e aparência da barra de rolagem */
::-webkit-scrollbar {
  width: 2px;
  background-color: #f1f1f1;
  /* Cor do trilho da barra */
}

/* Estiliza o "thumb" (a parte que se move) */
::-webkit-scrollbar-thumb {
  background-color: #00ff00;
  /* Cor preta com 70% de opacidade */
  border-radius: 5px;
}

/* Adiciona um efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.9);
  /* Aumenta a opacidade ao passar o mouse */
}




