.fundo{
    background: 
    radial-gradient(circle, rgb(78, 121, 110), rgba(0, 0, 0, 0.8)) no-repeat,
    linear-gradient(165deg, #001f3f, #000000) no-repeat; 
    background-blend-mode: overlay;
    animation: gradientMove 15s ease-in-out infinite;
    background-size: 200% 200%;
}
/* Animação para o gradiente se mover lentamente */
@keyframes gradientMove {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }